.full-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.user-feedback{
  background-color: #26ab70;
  padding: 0.4em;
  color: white;
  text-align: center;
}
.demo-container{
  width: 100%;
  display: flex;
  justify-content: center;
  transform-origin: 'left center';
}

.demo-datapoint{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1em;
  background-color: rgba(142, 167, 160, 1);
  background-size: 150px 150px, cover;
  text-align: center;
}